<h1>Current Characters:</h1>
<h1>Handlebars JS Example</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th>
        <th>Title</th>
        <th>House</th>
    </thead> 
    <tbody> 
        {{#each characters}}
        <tr> 
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{title}}</td>
            <td>{{house_name}}</td>
            <td><button onclick="deleteCharacter({{id}})">Delete</button></td>
            <td><a href="/characters/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addcharacter" action="/characters" method="post">
    First name: <input type="text" name="first_name"><br>
    Last name: <input type="text" name="last_name"><br>
    Title: <select name="title_id">
        {{#each titles}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    House: <select name="house_id">
        {{#each houses}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</table> 
