<nav class="navbar">
    <form class="form-inline">
        <input type="text" class="form-control" id="searchText" placeholder="Search by name..">
        <button type="button" onclick="searchCharacter(document.getElementById('searchText').value)" class="btn btn-outline-success">Search</button>
        <button type="button" onclick="clearSearch()" class="btn btn-outline-danger">Clear Search</button>
    </form>
</nav>
        <h1>Current Characters:</h1>
<table class="table">
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th>
        <th>Title</th>
        <th>House</th>
    </thead> 
    <tbody> 
        {{#each characters}}
        <tr> 
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{title}}</td>
            <td>{{house_name}}</td>
            <td><button onclick="deleteCharacter({{id}})" class="btn btn-danger">Delete</button></td>
            <td><a href="/characters/{{id}}"><button class="btn btn-secondary">Update</button></a></td>
        </tr> 
        {{/each}} 
    </tbody>
</table>

<h1>Add Character:</h1>
<form id="addcharacter" action="/characters" method="post">
    <div class="form-group">
        First name: <input type="text" name="first_name"><br>
    </div>
    <div class="form-group">
        Last name: <input type="text" name="last_name"><br>
    </div>
    <div class="form-group">
        Title: <select name="title_id">
            <option value=""></option>
            {{#each titles}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select><br>
    </div>
    <div class="form-group">
        House: <select name="house_id">
            <option value=""></option>
            {{#each houses}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select><br>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>

