<h1>Major Events:</h1>
<table class="table">
    <thead> 
        <th>Name</th>
        <th>Setting</th>
        <th>Characters Involved</th>
    </thead> 
    <tbody> 
        {{#each events}}
        <tr> 
            <td>{{name}}</td>
            <td>{{setting}}</td>
            <td>
                <ul>
                {{#each characters}}
                    <li>{{name}}</li>
                {{/each}}
                </ul>
            </td>
            <td><button onclick="deleteEvent({{id}})"  class="btn btn-danger">Delete</button></td>
            <td><a href="/events/{{id}}"><button class="btn btn-secondary">Update</button></a></td>
        </tr> 
        {{/each}} 
    </tbody>
</table>


<h1>Add Event:</h1>
<form id="addevent" action="/events" method="post">
    <div class="form-group">
        Name: <input type="text" name="name"><br>
    </div>
    <div class="form-group">
        Setting: <input type="text" name="setting"><br>
    </div>
    <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>

