<h1>Current Kingdoms:</h1>
<table class="table">
    <thead> 
        <th>Name</th>
        <th>Capital</th>
        <th>Ruled by</th>
        <th>Continent</th>
    </thead> 
    <tbody> 
        {{#each kingdoms}}
        <tr> 
            <td>{{name}}</td>
            <td>{{capital}}</td>
            <td>{{ruled_by_name}}</td>
            <td>{{continent}}</td>
            <td><button onclick="deleteKingdom({{id}})" class="btn btn-danger">Delete</button></td>
            <td><a href="/kingdoms/{{id}}"><button class="btn btn-secondary">Update</button></a></td>
        </tr> 
        {{/each}} 
    </tbody>
</table>

<h1>Add Kingdom:</h1>
<form id="addkingdom" action="/kingdoms" method="post">
    <div class="form-group">
        Name: <input type="text" name="name"><br>
    </div>
    <div class="form-group">
        Capital: <input type="text" name="capital"><br>
    </div>
    <div class="form-group">
        Ruled by: <select name="house_ruler_id">
            <option value=""></option>
        {{#each houses}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
        </select><br>
    </div>
    <div class="form-group">
    Continent: <select name="continent_id">
        {{#each continents}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
        </select><br>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
    </form>

