<h1>Character Relations:</h1>
<table class="table">
    <thead> 
        <th>Character</th>
        <th>Related to</th>
        <th>Type</th>
    </thead> 
    <tbody> 
        {{#each relationships}}
        <tr> 
            <td>{{name1}}</td>
            <td>{{name2}}</td>
            <td>{{type}}</td>
            <td><button onclick="deleteRelationship({{id}})" class="btn btn-danger">Delete</button></td>
            <td><a href="/relationships/{{id}}"><button class="btn btn-secondary">Update</button></a></td>
        </tr> 
        {{/each}} 
    </tbody>
</table>

<h1>Add Character Relationship:</h1>
<form id="addrelationship" action="/relationships" method="post">
    Character Name: <select name="name1">
        {{#each characters}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Related to Character: <select name="name2">
    {{#each characters}}
        <option value="{{id}}">{{name}}</option>
    {{/each}}
</select><br>
    <div class="form-group">
        Relationship Type: <input type="text" name="type"><br>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>

