<h1>Update {{kingdom.name}}:</h1>
<form id="update-kingdom" action="/kingdoms" method="post">
    <div class="form-group">
    Name: <input type="text" name="name" value="{{kingdom.name}}"><br>
    </div>
    <div class="form-group">
    Capital: <input type="text" name="capital" value="{{kingdom.capital}}"><br>
    </div>
    <div class="form-group">
    Ruled by House: <select name="house_ruler_id" id="house-selector">
        <option value=""></option>
        {{#each houses}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    </div>
    <div class="form-group">
    Continent: <select name="continent_id" id="continent-selector">
        {{#each continents}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    </div>
</form>
<button class="btn btn-primary" onclick="updateKingdom({{kingdom.id}})">Update</button>
<script defer>selectContinent({{kingdom.continent_id}});</script>
<script defer>selectHouse({{kingdom.house_ruler_id}});</script>